* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-bg: #f5f5f5;
    --clr-accent: #007672;
    --clr-light: #FFFFFF;
}

body{
    background-color: var(--clr-bg);
}

.header{
    background-color: var(--clr-light);
}
aside {
    float: right;
    font-style: italic;
}
a { text-decoration: none;}
a:link {color: inherit;}
a:visited {color: inherit;}
